<!-- @@master= components/master.tmpl.html {"title": "About"}-->

<!-- @@block= content -->
<div class="container-fluid  container-fluid-padding">
    <div class="about">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="about-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="about-left-head">
                                <img src="https://placehold.it/900x300" alt="" class="about-left-head-img">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="about-left-middle">
                                <h3>Who We Are</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt omnis quod velit!
                                    Animi blanditiis,
                                    eaque eos est et ex, explicabo fugiat hic illo
                                    incidunt iure maxime, sapiente similique tenetur ullam.
                                </p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa
                                    dignissimos est eum, expedita fugiat harum ipsam
                                    ipsum magni molestiae neque optio placeat quaerat quis quos reprehenderit sed
                                    voluptas voluptatem.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="about-left-bottom">
                                <h3>Our Staff</h3>
                                <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="about-left-bottom-staff">
                                                <a href="" class="about-left-bottom-staff-link">
                                                    <img src="https://placehold.it/500x500" alt=""
                                                         class="about-left-bottom-staff-img">
                                                </a>
                                                <div class="about-left-bottom-staff-overlay">
                                                    <div class="text">
                                                        <h3>
                                                            John Smith
                                                        </h3>
                                                        Web Developer
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="about-left-bottom-staff">
                                                <a href="" class="about-left-bottom-staff-link">
                                                    <img src="https://placehold.it/500x500" alt=""
                                                         class="about-left-bottom-staff-img">
                                                </a>
                                                <div class="about-left-bottom-staff-overlay">
                                                    <div class="text">
                                                        <h3>
                                                            John Smith
                                                        </h3>
                                                        Web Developer
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="about-left-bottom-staff">
                                                <a href="" class="about-left-bottom-staff-link">
                                                    <img src="https://placehold.it/500x500" alt=""
                                                         class="about-left-bottom-staff-img">
                                                </a>
                                                <div class="about-left-bottom-staff-overlay">
                                                    <div class="text">
                                                        <h3>
                                                            John Smith
                                                        </h3>
                                                        Web Developer
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="about-left-bottom-staff">
                                                <a href="" class="about-left-bottom-staff-link">
                                                    <img src="https://placehold.it/500x500" alt=""
                                                         class="about-left-bottom-staff-img">
                                                </a>
                                                <div class="about-left-bottom-staff-overlay">
                                                    <div class="text">
                                                        <h3>
                                                            John Smith
                                                        </h3>
                                                        Web Developer
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="about-left-bottom-staff">
                                                <a href="" class="about-left-bottom-staff-link">
                                                    <img src="https://placehold.it/500x500" alt=""
                                                         class="about-left-bottom-staff-img">
                                                </a>
                                                <div class="about-left-bottom-staff-overlay">
                                                    <div class="text">
                                                        <h3>
                                                            John Smith
                                                        </h3>
                                                        Web Developer
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="about-left-bottom-staff">
                                            <a href="" class="about-left-bottom-staff-link">
                                                <img src="https://placehold.it/500x500" alt=""
                                                     class="about-left-bottom-staff-img">
                                            </a>

                                            <div class="you-contain">
                                                <div class="you-contain-btn">
                                                    you
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-lg-6">
                <div class="about-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="about-right-head">
                                <h3>Our Skills</h3>

                                <small>Website Design</small>
                                <div class="progress about-right-head-progress">
                                    <div class="progress-bar" style="width: 89%;">89%</div>
                                </div>

                                <small>Website Development</small>
                                <div class="progress about-right-head-progress">
                                    <div class="progress-bar" style="width: 97%;">97%</div>
                                </div>

                                <small>Plugins</small>
                                <div class="progress about-right-head-progress">
                                    <div class="progress-bar" style="width: 85%;">85%</div>
                                </div>

                                <small>Front end</small>
                                <div class="progress about-right-head-progress">
                                    <div class="progress-bar" style="width: 75%;">75%</div>
                                </div>


                            </div>

                            <div class="about-right-middle">
                                <h3>Testimonials</h3>
                                <div class="about-right-middle-testimonials">
                                    <div class="about-right-middle-testimonials-containerImg">
                                        <img src="https://placehold.it/100x100" alt=""
                                             class="about-right-middle-testimonials-img">
                                    </div>
                                    <div class="about-right-middle-testimonials-containerAfter">
                                        <div class="about-right-middle-testimonials-containerAfterDesc">Collis Ta’eed -
                                            CEO at Envato
                                        </div>
                                    </div>
                                </div>
                               <div class="border-text">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta maiores
                                       natus necessitatibus veniam.
                                       Assumenda, atque cumque incidunt itaque iure?</p>
                               </div>

                            </div>

                            <div class="about-right-bottom">
                                <div class="services">
                                    <h3>Services</h3>
                                    <ul class="list-group">
                                        <li >Web Design </li>
                                        <li >Photography </li>
                                        <li >Plugin Development </li>
                                        <li >Front-end</li>
                                        <li >Design from Scratch</li>
                                        <li >Website Maintenance</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@close -->