<!-- @@master= components/master.tmpl.html {"title": "Home page"}-->


<!-- @@block= contentInformation -->
<div class="content-information">
    <div class="content-background">
        <div class="content-circle">
            <div class="content-desc">

            </div>
        </div>
        <div class="content-container-info" style="display: none">
            <p class="content-container-text">9930 1234 5679</p>
            <p class="content-container-text">contact@domain.com</p>
            <p class="content-container-text">street address example</p>

        </div>
    </div>
</div>
<!-- @@close -->

<!-- @@block= content -->
<div class="container-fluid no-gutter padding-none" data-bind="foreach: dataJson">
     <div class="portfolio col-lg-3 col-md-4 col-sm-6 col-xs-6" data-bind="class: $data.filter">
        <div class="portfolio-container">
            <a href="#" class="portfolio-link">
                <img data-bind="attr: {src: $data.portfolio}" class="portfolio-img">
            </a>
        </div>
        <div class="portfolio-middle">
            <div class="portfolio-text">
                Cool App Design
            </div>
            <div class="portfolio-circle">
            </div>
        </div>


</div>

</div>


<!-- @@close -->