<!-- @@master= components/master.tmpl.html {"title": "Work"}-->

<!-- @@block= content -->
<div class="container-fluid  container-fluid-padding">
    <div class="about">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="about-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="slider">
                                <div>
                                    <img src="https://placehold.it/721x560" alt="">
                                </div>
                                <div>
                                    <img src="https://placehold.it/721x400" alt="">
                                </div>
                                <div>
                                    <img src="https://placehold.it/721x560" alt="">
                                </div>

                                <div>
                                    <img src="https://placehold.it/721x560" alt="">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="about-left-middle">
                                <h3>Heavy Sand - Creative Photography</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt omnis quod velit!
                                    Animi blanditiis,
                                    eaque eos est et ex, explicabo fugiat hic illo
                                    incidunt iure maxime, sapiente similique tenetur ullam ipsam
                                    ipsum magni molestiae neque optio placeat quaerat quis quos reprehenderit sed
                                    voluptas voluptatem.
                                </p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa
                                    dignissimos est eum, expedita fugiat harum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="about-left-bottom">
                                <h3>Related Projects</h3>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-none">
                                    <div class="projects">
                                        <a href="" class="projects-link">
                                            <img src="https://placehold.it/240x182" alt=""
                                                 class="projects-img">
                                        </a>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-none">
                                    <div class="projects">
                                        <a href="" class="projects-link">
                                            <img src="https://placehold.it/240x182" alt=""
                                                 class="projects-img">
                                        </a>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-none">
                                    <div class="projects">
                                        <a href="" class="projects-link">
                                            <img src="https://placehold.it/240x182" alt=""
                                                 class="projects-img">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-lg-6">
                <div class="about-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="post-info">
                                <h3>Project info</h3>
                                <ul class="post-info-list list-group">
                                    <li class="post-info-user list-group-item">premiumlayers</li>
                                    <li class="post-info-likes list-group-item">138 Likes</li>
                                    <li class="post-info-date list-group-item">25 December, 2013</li>
                                    <li class="post-info-comment list-group-item">4 Comments</li>
                                </ul>

                            </div>

                            <div class="tags">
                                <h3>Tags</h3>
                                <ul class="post-info-list list-group">
                                    <li class=" list-group-item">
                                        <a href="#">
                                            web design
                                        </a>
                                    </li>
                                    <li class=" list-group-item">
                                        <a href="#">
                                            photography
                                        </a>
                                    </li>
                                    <li class=" list-group-item">
                                        <a href="#">
                                            development
                                        </a>
                                    </li>
                                    <li class=" list-group-item">
                                        <a href="#">
                                            php
                                        </a>
                                    </li>
                                    <li class=" list-group-item">
                                        <a href="#">
                                            ecommerce
                                        </a>
                                    </li>
                                    <li class=" list-group-item">
                                        <a href="#">
                                            graphic
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="gallery">
                                <h3>Project Gallery</h3>
                                <a href="images/portfolio/photography1.jpg" class="big">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <a href="images/portfolio/photography2.jpg">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <a href="images/portfolio/photography3.jpg">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <a href="">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <a href="">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <a href="">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <a href="">
                                    <img src="https://placehold.it/78x78" alt="">
                                </a>
                                <div class="clear"></div>
                            </div>



                                <div class="services">
                                    <h3>Services</h3>
                                    <ul class="services-list">
                                        <li class="services-item">Responsive Layout  </li>
                                        <li class="services-item">Font Awesome Icons</li>
                                        <li class="services-item">Clean & Commented Code</li>
                                        <li class="services-item">Pixel perfect Design</li>
                                        <li class="services-item">Highly Customizable</li>
                                    </ul>
                                </div>
                            </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@close -->