<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <!--@@var= title-->
    </title>
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">

</head>
<body>

<div class="wrapper">
    <div class="sidebar-container">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="logo">
                <a href="#">
                    <img class="logo-img" src="images/logo.png" alt="">
                </a>
                <p class="logo-desc">
                    kappe
                </p>


            </div>

            <ul class="list-unstyled text-right menu">
                <li class="menu-item">
                    <a class="menu-link" href="#">Home</a>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="#">
                        About
                    </a>
                </li>

                <li class="active menu-item">
                    <a class="menu-link" href="#">
                        Work
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="#">
                        Blog
                    </a>

                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#">Services</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#">Contact</a>
                </li>
            </ul>

            <div class="filter text-right">
                <div class="filter-header">
                    Filter
                    <div class="filter-square">
                        <img src="images/window.png" alt="">
                    </div>
                </div>
                <ul class="list-unstyled  filter-list">
                    <li class="filter-item">
                        <a href="#">All Works</a></li>
                    <li class="filter-item filter-active">
                        <a href="#">web design</a></li>
                    <li class="filter-item">
                        <a href="#">illustration</a></li>
                    <li class="filter-item">
                        <a href="#">photography</a></li>
                    <li class="filter-item">
                        <a href="#">wallpapers</a></li>
                    <li class="filter-item">
                        <a href="#">brochures</a></li>
                </ul>
            </div>


            <div class="social text-right">
                <a href="#" class="social-link">
                    <img src="images/social/1.svg" alt="" class="social-img">
                </a>
                <a href="#" class="social-link">
                    <img src="images/social/2.svg" alt="" class="social-img">
                </a>
                <a href="#" class="social-link">
                    <img src="images/social/3.svg" alt="" class="social-img">
                </a>
                <a href="#" class="social-link">
                    <img src="images/social/4.svg" alt="" class="social-img">
                </a>
                <a href="#" class="social-link">
                    <img src="images/social/5.svg" alt="" class="social-img">
                </a>
                <a href="#" class="social-link">
                    <img src="images/social/6.svg" alt="" class="social-img">
                </a>
                <a href="#" class="social-link">
                    <img src="images/social/7.svg" alt="" class="social-img">
                </a>
            </div>

        </nav>

        <!-- Page Content Holder -->


        <div id="content">
            <div class="content-fixed">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>


            <div class="content-information">

                <div class="content-background">
                    <div class="content-circle">
                        <div class="content-desc">

                        </div>
                    </div>
                    <div class="content-container-info">
                        <p class="content-container-text">9930 1234 5679</p>
                        <p class="content-container-text">contact@domain.com</p>
                        <p class="content-container-text">street address example</p>

                    </div>
                </div>



            </div>

            <!-- @@placeholder= content -->

        </div>


    </div>


</div>


<!-- jQuery CDN -->
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>