<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <!--@@var= title-->
    </title>
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div class="Sidebar">
                <div class="logo">
                    <a href="" class="logo-link">
                        <img src="https://placehold.it/100x100" alt="The logo" class="logo-img">
                    </a>

                    <div class="logo-desc">KAPPE</div>
                </div>

                <div class="menu text-right">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a class="menu-link" href="#">HOME</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#">WORK</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#">ABOUT</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#">BLOG</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#">SERVICES</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>

                <div class="filter text-right">

                    <div class="filter-desc">
                        FILTER
                        <img src="https://placehold.it/20x20" alt="the filter img" class="filter-img">
                    </div>
                    <ul class="filter-list">
                        <li class="filter-item">
                            <a href="#" class="filter-link">All Works</a>
                        </li>
                        <li class="filter-item">
                            <a href="#" class="filter-link">web design</a>
                        </li>
                        <li class="filter-item">
                            <a href="#" class="filter-link">illustration</a>
                        </li>
                        <li class="filter-item">
                            <a href="#" class="filter-link">photography</a>
                        </li>
                        <li class="filter-item">
                            <a href="#" class="filter-link">wallpapers</a>
                        </li>
                        <li class="filter-item">
                            <a href="#" class="filter-link">brochures</a>
                        </li>
                    </ul>
                </div>

                <div class="social">
                    <ul class="social-list">
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                        <li class="social-item"><img src="https://placehold.it/50x50" alt="the img" class="social-img"></li>
                    </ul>
                </div>
            </div>

            <div class="footer">
                © 2014 Kappe, All Rights Reserved
            </div>
        </div>

        <div class="col-xs-9">
            <div class="content">
                <!-- @@placeholder= content -->
            </div>
        </div>
    </div>

</div>


</body>
</html>